# Ignore common presentation files
*.ppt
*.pptx

# Ignore common archive files
*.zip
*.rar

# Ignore common document files
*.pdf

# Ignore common image files
*.jpg

# Ignore all files with these extensions in any directory
**/*.ppt
**/*.pptx
**/*.zip
**/*.rar
**/*.pdf
**/*.jpg